<% action = @score.new_record? ? spec_score_api.scores_path : spec_score_api.score_path(@score) %>
<%= form_for(@score, url: action ) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :specs %><br>
    <%= f.number_field :specs %>
  </div>
  <div class="field">
    <%= f.label :succeeded %><br>
    <%= f.number_field :succeeded %>
  </div>
  <div class="field">
    <%= f.label :failed %><br>
    <%= f.number_field :failed %>
  </div>
  <div class="field">
    <%= f.label :pending %><br>
    <%= f.number_field :pending %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
