<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @teammate.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @teammate.project_id %>
</p>

<%= link_to 'Edit', spec_score_api.edit_project_teammate_path(@project, @teammate) %> |
<%= link_to 'Back', spec_score_api.project_teammates_path(@project) %>
